// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $green;
}

h1, h2, h3, h4, h5 {
	font-family: 'Spectral', serif;
	color: #fff;
}

p, ul, li, blockquote, p a, .entry-meta, .entry-title a{
	color: #fff;
	font-size: 1.4rem;
}

body {
	margin: 50px 12vw; 
}

.btn-secondary {
	background-color: $red;
	color: #fff;
}


#main-nav a.navbar-brand  {
	font-size: 2rem;
	text-decoration: none;
	border-radius: 0;	
	font-family: 'Spectral', serif;
	width: 350px;
	display: block;
    height: 100px;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.navbar-expand-md .offcanvas .offcanvas-body {
	top: 15px;
    position: absolute;
    right: 0;
}

#main-menu .nav-link {
	color: #fff;
	font-size: 1.3rem;
}

.entry-content a:hover {
	color: #fff;
}

.wp-block-button__link {
	background-color: $red;
	color: #fff;
	border-radius: 0;
}